.cart-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.cart-error {
    color: red;
    text-align: center;
}

.cart-items {
    max-height: 60vh; /* Adjust based on your preference */
    overflow-y: auto;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f7f7f7;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.1s ease-in-out;
}

li:hover {
    transform: scale(1.02);
}

li img {
    max-width: 50px; /* Adjust as needed */
    margin-right: 15px;
    border-radius: 4px;
}

li span {
    margin-right: 15px;
}

button {
    background-color: #ff6347; /* Tomato */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #e55347;
    opacity: 1;
}
.cart-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.place-order-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.place-order-button:hover {
    opacity: 0.8;
}
.cart-container img {
    max-width: 100px;  /* Set the maximum width */
    max-height: 100px; /* Set the maximum height */
    object-fit: cover; /* This makes sure to keep the aspect ratio of the image */
}